header {
  padding: 156px 0 100px;
  height: 90px;
}

section {
  padding: 150px 0;
}

#play {
    background-color:rgb(154, 152, 180);
}

.form-control {
    height: 100px;
}

.quote-input:focus {
    border-color: black;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

p {
    position: relative;
    width:100%;
}